/* ModernHamburgerMenu.css */

.modern-menu-container {
  position: relative;
}

.modern-hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: #333;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  left: 20px; /* Adjust as needed */
  top: 20px; 
  z-index: 2; 
}

.bar {
  width: 35px;
  height: 4px;
  background: #fff;
  transition: transform 0.3s, opacity 0.3s;
}

.bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.modern-menu {
  position: fixed;
  top: 0;
  left: 0; /* Change to left side */
  height: 100%;
  width: 250px;
  background: #1e1e1e;
  color: #f0f0f0;
  transform: translateX(-100%); /* Hide off-screen to the left */
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.modern-menu.open {
  transform: translateX(0); /* Slide in from the left */

}

.modern-menu ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.modern-menu li {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #333;
}

.modern-menu a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
  display: block;
}

.modern-menu a:hover {
  color: #ff6f61;
  background: rgba(255, 111, 97, 0.1);
  border-radius: 4px;
  padding: 10px;
}

.submenu {
  display: none;
  position: absolute;
  left: 100%; /* Position submenu to the right of the parent */
  top: 0;
  background: #2c2c2c;
  z-index: 50 !important;
  width: 200px;
  border-left: 1px solid #333;
  z-index: 1; /* Ensure submenu is above other content */
}

.modern-menu li:hover .submenu {
  display: block;
}

.submenu li {
  border-bottom: 1px solid #333;
}

.submenu a {
  color: #ddd;
  padding: 10px;
  font-size: 14px;
}

.submenu a:hover {
  color: #ff6f61;
  background: rgba(255, 111, 97, 0.1);
}
